<mat-accordion class="elaborator-review-lobby-accordion">
  <mat-expansion-panel *ngFor="let question of questions; index as i">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ i }}. {{ question.value }} </mat-panel-title>
      <mat-panel-description>
        <!-- TODO missed right answer -->
        <mat-icon
          *ngIf="rightAnswersSelected(question)"
          class="right-answer"
          svgIcon="done"
          aria-hidden="false"
          aria-label="Good answer icon"
        ></mat-icon>
        <mat-icon
          *ngIf="!rightAnswersSelected(question)"
          class="wrong-answer"
          svgIcon="close"
          aria-hidden="false"
          aria-label="Bad answer icon"
        ></mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <sk-elaborator-question
        [question]="question"
        [currentQuestionNumber]="i"
        [selectedAndRightAnswer]="selectedAndRightAnswers?.get(question.id)"
        readOnly
      ></sk-elaborator-question>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
