.elaborator-review-lobby {
  display: flex;
  justify-content: center;
  height: 100%;

  &-accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .mat-expansion-panel-header-description {
    flex-grow: 0;
  }

  .right-answer {
    svg {
      fill: green;
      color: green;
    }
  }

  .wrong-answer {
    svg {
      fill: red;
      color: red;
    }
  }
}
