@import "~@angular/material/theming";

@mixin elaborator-question-theme($theme) {
  $elaborator-question-theme: map-merge(
    (
      "headline-font-size": 1.7rem,
      "headline-line-height": 2rem,
      "code-font-size": .8rem,
      "code-line-height": 1rem,
      "content-font-size": 1.2rem,
      "content-line-height": 1.4rem,
      "language-font-size": 0.5rem,
      "language-line-height": 0.6rem,
    ),
    $theme
  );

  .elaborator-question {
    &-question {
      font-size: map-get($elaborator-question-theme, headline-font-size);
      line-height: map-get($elaborator-question-theme, headline-line-height);
    }

    &-code-language {
      font-size: map-get($elaborator-question-theme, language-font-size);
      line-height: map-get($elaborator-question-theme, language-line-height);
    }

    &-code-value {
      font-size: map-get($elaborator-question-theme, code-font-size);
      line-height: map-get($elaborator-question-theme, code-line-height);
    }

    &-content {
      font-size: map-get($elaborator-question-theme, content-font-size);
      line-height: map-get($elaborator-question-theme, content-line-height);
    }
  }
}
