@import "~@angular/material/theming";

.elaborator-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 12px 18px 12px 18px;

  code {
    font-size: 1.1rem;
  }

  &-content {
    height: 100%;
    display: flex;
    align-self: flex-start;
    align-items: center;
  }

  &-answer-group {
    display: flex;
    flex-direction: column;
  }

  &-answer {
    &:not(:first-child) {
      margin-top: 10px;
    }
    font-size: 1.2rem;
    span {
      white-space: pre-wrap;
    }
    &.right-answer {
      background-color: rgba(34, 139, 34, 0.7);
    }
    &.wrong-answer {
      background-color: rgba(240, 128, 128, 0.7);
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin: 18px 0 22px 0;
  }

  &-counter {
    display: inline-flex;
    align-items: center;
    color: mat-color($mat-grey, 300);
  }
}
