@import "~@angular/material/theming";

.elaborator-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-question {
    margin: 10px 0 12px 0;
  }

  &-heading {
    display: flex;
    flex-direction: column;
  }

  &-code-language {
    align-self: flex-end;
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-answer-group {
    display: flex;
    flex-direction: column;
    .elaborator-question-answer.read-only.mat-radio-disabled
      .mat-radio-label-content {
      color: map-get($mat-dark-theme-foreground, text);
    }
  }

  &-answer {
    &:not(:first-child) {
      margin-top: 10px;
    }
    span {
      white-space: pre-wrap;
    }
    &.right-answer {
      background-color: rgba(34, 139, 34, 0.7);
    }
    &.missed-answer {
      background-color: rgba(183, 185, 24, 0.7);
    }
    &.wrong-answer {
      background-color: rgba(240, 128, 128, 0.7);
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 18px 0 22px 0;
  }

  &-counter {
    display: inline-flex;
    align-items: center;
    color: mat-color($mat-grey, 300);
    margin-top: 5px;
  }

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
