<label class="elaborator-question-question mat-headline">
  {{ question?.value }}
</label>
<pre *ngIf="question?.code">
  <code [highlight]="question.code.value" [languages]="[question.code.language]"></code>
</pre>
<div class="elaborator-question-content">
  <mat-radio-group
    aria-labelledby="elaborator-question-question"
    class="elaborator-question-answer-group"
    [disabled]="readOnly"
    (change)="onSelect($event)"
    required
  >
    <mat-radio-button
      class="elaborator-question-answer"
      *ngFor="let answer of question?.answers"
      [value]="answer.id"
      [checked]="answer.id === selectedAndRightAnswer?.answerId"
      [ngClass]="{
        'right-answer': answer.id === selectedAndRightAnswer?.rightAnswerId,
        'wrong-answer':
          answer.id === selectedAndRightAnswer?.answerId &&
          answer.id !== selectedAndRightAnswer?.rightAnswerId
      }"
    >
      <span>{{ answer.value }}</span>
    </mat-radio-button>
  </mat-radio-group>
</div>
<div class="elaborator-question-footer">
  <!-- TODO back -->
  <button
    class="elaborator-question-previous-button"
    mat-raised-button
    disabled
  >
    Previous question
  </button>
  <span class="elaborator-question-counter"
    >{{ currentQuestionNumber }}/{{ maxQuestionCount }}</span
  >
  <button
    *ngIf="currentQuestionNumber !== maxQuestionCount"
    class="elaborator-question-next-button"
    mat-raised-button
    color="primary"
    [disabled]="!selectedAnswerId && !readOnly"
    (click)="onNextClick()"
  >
    Next question
  </button>
  <button
    *ngIf="currentQuestionNumber === maxQuestionCount"
    class="elaborator-question-next-button"
    mat-raised-button
    color="primary"
    [disabled]="!selectedAnswerId && !readOnly"
    (click)="onEvaluate()"
  >
    Evaluate
  </button>
</div>
