<label class="elaborator-question-question mat-headline">
  {{ question.value }}
</label>
<pre *ngIf="question.code">
  <code [highlight]="question.code.value" [languages]="[question.code.language]"></code>
</pre>
<div class="elaborator-question-content">
  <mat-radio-group
    *ngIf="!question.multi"
    aria-labelledby="elaborator-question-question"
    class="elaborator-question-answer-group"
    [disabled]="readOnly"
    (change)="onRadioSelect($event)"
    required
  >
    <mat-radio-button
      class="elaborator-question-answer"
      *ngFor="let answer of question.answers"
      [value]="answer.id"
      [checked]="selectedAndRightAnswer?.answerIds.includes(answer.id)"
      [ngClass]="{
        'right-answer': isRight(answer.id),
        'wrong-answer':
          selectedAndRightAnswer?.answerIds.includes(answer.id) &&
          !isRight(answer.id),
        'read-only': readOnly
      }"
    >
      <span>{{ answer.value }}</span>
    </mat-radio-button>
  </mat-radio-group>

  <ul *ngIf="question.multi" class="elaborator-question-answer-group">
    <li *ngFor="let answer of question.answers">
      <mat-checkbox
        class="elaborator-question-answer"
        [value]="answer.id"
        [checked]="selectedAndRightAnswer?.answerIds.includes(answer.id)"
        [disabled]="readOnly"
        [ngClass]="{
          'right-answer': isRight(answer.id),
          'wrong-answer':
            selectedAndRightAnswer?.answerIds.includes(answer.id) &&
            !isRight(answer.id),
          'read-only': readOnly
        }"
        (change)="onCheckboxSelect($event, answer.id)"
      >
        <span>{{ answer.value }}</span>
      </mat-checkbox>
    </li>
  </ul>
</div>
<div class="elaborator-question-footer" *ngIf="!readOnly">
  <!-- TODO back -->
  <button mat-raised-button disabled>Previous question</button>
  <span class="elaborator-question-counter"
    >{{ currentQuestionNumber }}/{{ maxQuestionCount }}</span
  >
  <button
    *ngIf="currentQuestionNumber !== maxQuestionCount"
    class="elaborator-question-next-button"
    mat-raised-button
    color="primary"
    [disabled]="!selectedAnswerIds.length"
    (click)="onNextClick()"
  >
    Next question
  </button>
  <button
    *ngIf="currentQuestionNumber === maxQuestionCount"
    class="elaborator-question-next-button"
    mat-raised-button
    color="primary"
    [disabled]="!selectedAnswerIds.length"
    (click)="onEvaluate()"
  >
    Evaluate
  </button>
</div>
